.vw-navbar {
  background: $light;
  transition: 0.4s;

  @media only screen and (min-width: map-get($grid-breakpoints, "lg")) {
    background: transparent;
  }

  &-main-logo {
    max-width: 30px;
  }
}

.vw-header-slide {
  &-1,
  &-2,
  &-3 {
    background-size: cover;
    background-position: center center;
  }

  &-1 {
    background-image: url("https://assets.volkswagen.com/is/image/volkswagenag/new_cars-e_golf-hero-16_9-2500x1406-1?Zml0PWNyb3AsMSZmbXQ9d2VicCZxbHQ9Nzkmd2lkPTI0MDAmaGVpPTEzNTAmYWxpZ249MC4wMCwwLjAwJmJmYz1vZmYmYjFlMQ==");
  }

  &-2 {
    background-image: url("https://assets.volkswagen.com/is/image/volkswagenag/new_cars-e_golf-hero-16_9-2500x1406-1?Zml0PWNyb3AsMSZmbXQ9d2VicCZxbHQ9Nzkmd2lkPTI0MDAmaGVpPTEzNTAmYWxpZ249MC4wMCwwLjAwJmJmYz1vZmYmYjFlMQ==");
  }

  &-3 {
    background-image: url("https://assets.volkswagen.com/is/image/volkswagenag/new_cars-e_golf-hero-16_9-2500x1406-1?Zml0PWNyb3AsMSZmbXQ9d2VicCZxbHQ9Nzkmd2lkPTI0MDAmaGVpPTEzNTAmYWxpZ249MC4wMCwwLjAwJmJmYz1vZmYmYjFlMQ==");
  }

  &-inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.vw-footer-main-logo {
  max-width: 50px;
}

// .arrow-position {
//   position: absolute;
//   width: 10%;
//   height: 20%;
//   top: 0;
//   bottom: 0;
//   margin: auto;
//   cursor: pointer;
//   z-index: 2;
// }

// .header-wrapper {
//   width: 300vw;
//   height: 100%;
//   display: flex;
//   transition: all 1.5s ease-in-out;
// }
